
CONFIG_ALL=y
CONFIG_DOCKER_CGROUP_OPTIONS=y
CONFIG_DOCKER_NET_ENCRYPT=y
CONFIG_DOCKER_NET_MACVLAN=y
CONFIG_DOCKER_NET_OVERLAY=y
CONFIG_DOCKER_NET_TFTP=y
CONFIG_DOCKER_OPTIONAL_FEATURES=y
CONFIG_DOCKER_STO_BTRFS=y
CONFIG_DOCKER_STO_EXT4=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_linear=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_raid456=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Hysteria=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_PDNSD=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_NaiveProxy=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server=n
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Simple_Obfs=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_Plugin=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_Xray_plugin=y
CONFIG_PACKAGE_luci-app-vssr_INCLUDE_ShadowsocksR_Libev_Server=y
CONFIG_PACKAGE_luci-app-bypass_Shadowsocks_Server=n
CONFIG_PACKAGE_luci-app-bypass_Shadowsocks=n
CONFIG_PACKAGE_luci-app-bypass_ShadowsocksR=n
CONFIG_PACKAGE_luci-app-bypass_ShadowsocksR_Server=n
CONFIG_PACKAGE_luci-app-bypass_Simple_obfs=n
CONFIG_PACKAGE_luci-app-bypass_Simple_obfs_server=n
CONFIG_PACKAGE_luci-app-bypass_V2ray_plugin=n
CONFIG_PACKAGE_luci-app-bypass_Xray=n
CONFIG_PACKAGE_luci-app-bypass_Trojan=n
CONFIG_PACKAGE_luci-app-bypass_Trojan-Go=n
CONFIG_PACKAGE_luci-app-bypass_NaiveProxy=n
CONFIG_PACKAGE_luci-app-bypass_Kcptun=n
CONFIG_PACKAGE_luci-app-bypass_Socks5_Proxy=n
CONFIG_PACKAGE_luci-app-bypass_Socks_Server=n
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_dnsforwarder=n
CONFIG_LUCI_LANG_ca=n
CONFIG_LUCI_LANG_cs=n
CONFIG_LUCI_LANG_de=n
CONFIG_LUCI_LANG_el=n
CONFIG_LUCI_LANG_es=n
CONFIG_LUCI_LANG_fr=n
CONFIG_LUCI_LANG_he=n
CONFIG_LUCI_LANG_hu=n
CONFIG_LUCI_LANG_it=n
CONFIG_LUCI_LANG_ja=n
CONFIG_LUCI_LANG_ko=n
CONFIG_LUCI_LANG_ms=n
CONFIG_LUCI_LANG_no=n
CONFIG_LUCI_LANG_pl=n
CONFIG_LUCI_LANG_pt=n
CONFIG_LUCI_LANG_pt-br=n
CONFIG_LUCI_LANG_ro=n
CONFIG_LUCI_LANG_ru=n
CONFIG_LUCI_LANG_sk=n
CONFIG_LUCI_LANG_sv=n
CONFIG_LUCI_LANG_tr=n
CONFIG_LUCI_LANG_uk=n
CONFIG_LUCI_LANG_vi=n
CONFIG_LUCI_LANG_zh-tw=n
